section {
  max-width: 340px;
  margin: 0 auto;
  background: url('http://buysellgraphic.com/images/graphic_preview/large/defocus_green_abstract_background_24166.jpg');
  background-size: cover;
  .wrapper {
    max-height: 360px;
    min-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .messages-container {
    display: flex;
    flex-flow: column;
    .msg {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .msg-text {
        padding: 5px 10px;
        background: rgba($color: blue, $alpha: 0.6);
        color: #fff;
        margin: 10px;
        border-radius: 5px;
      }
      .msg-time {
        color: #000;
      }
    }
    .right {
      align-self: flex-end;
    }
    .left {
      align-self: flex-start;
    }
  }
  .send-container {
    display: flex;
    input {
      flex: 3;
    }
  }
}
