<section>
  <div class="wrapper" #wrapper>
    <div class="messages-container" [@listAnimation]="messages.length">
      <div *ngFor="let message of messages" class="msg" [ngClass]="{'left': message.userId !== user._id, 'right': message.userId == user._id}">
        <!-- {{message.date| date: 'M/d/yy'}}  -->
        <div class="msg-text" *ngIf="message.userId !== user._id">{{message.text}}</div>
        <div class="msg-time" *ngIf="message.userId !== user._id">{{message.date| date: 'h:mm'}}</div>
        <div class="msg-time" *ngIf="message.userId == user._id">{{message.date| date: 'h:mm'}}</div>
        <div class="msg-text" *ngIf="message.userId == user._id">{{message.text}}</div>
      </div>
    </div>
  </div>
  <div class="send-container">
    <input type="text" pInputText #chatInput (keyup.enter)="sendMessage()" [(ngModel)]="message" />
    <button pButton type="button" label="Send" (click)="sendMessage()"></button>
  </div>
</section>